process {

    withName: 'SVDB_QUERY_DB' {
        ext.prefix = { "${meta.id}_vcfdb" }
    }

    withName: 'SVDB_QUERY_BEDPE' {
        ext.prefix = { "${meta.id}_bedpedb" }
    }

    withName: 'PICARD_SORTVCF' {
        ext.prefix = { "${meta.id}_svdbquery" }
    }

    withName: 'BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_view" }
        ext.args   = { params.bcftools_view }
    }

    withName: 'ENSEMBLVEP_SV' {
        ext.prefix = { "${meta.id}_svdbquery_vep" }
        ext.args   = { params.vep }
    }
}
