process {

    withName: 'SVDB_QUERY_DB' {
        ext.prefix = { "${meta.id}_me_svdb" }
    }

    withName: 'PICARD_SORTVCF' {
        ext.prefix = { "${meta.id}_sortvcf" }
    }

    withName: 'ENSEMBLVEP_ME' {
        ext.prefix = { "${meta.id}_svdbquery_vep" }
    }

    withName: 'BCFTOOLS_VIEW_FILTER' {
        ext.args = { params.bcftools_args }
        ext.prefix = { "${meta.id}_filter" }
    }

}
