process {

    withName: '.*ANNOTATE_MOBILE_ELEMENTS:SVDB_QUERY_DB' {
        ext.prefix = { "${meta.id}_me_svdb" }
    }

    withName: '.*ANNOTATE_MOBILE_ELEMENTS:PICARD_SORTVCF' {
        ext.prefix = { "${meta.id}_sortvcf" }
    }

    withName: '.*ANNOTATE_MOBILE_ELEMENTS:ENSEMBLVEP_ME' {
        ext.prefix = { "${meta.id}_svdbquery_vep" }
    }

    withName: '.*ANNOTATE_MOBILE_ELEMENTS:BCFTOOLS_VIEW_FILTER' {
        ext.args = { params.bcftools_args }
        ext.prefix = { "${meta.id}_filter" }
    }

}
