process {

    withName: 'SENTIEON_DNASCOPE' {
        ext.prefix = { "${meta.id}_dnascope" }
    }

    withName: 'SENTIEON_DNAMODELAPPLY' {
        ext.prefix = { "${meta.id}_dnamodelapply" }
    }

    withName: 'BCF_FILTER_ONE' {
        ext.args   = "-s 'ML_FAIL' -i 'INFO/ML_PROB <= 0.95' -m x --output-type z --write-index=tbi"
        ext.prefix = { "${meta.id}_mlfiltered_0.95" }
    }

    withName: 'BCF_FILTER_TWO' {
        ext.args   = "-i FILTER='\"PASS\"' -m x --output-type z --write-index=tbi"
        ext.prefix = { "${meta.id}_passed" }
    }

    withName: 'SPLIT_MULTIALLELICS_SEN' {
        ext.args   = '--output-type z --multiallelics -both'
        ext.prefix = { "${meta.id}_split" }
    }

    withName: 'REMOVE_DUPLICATES_SEN' {
        ext.args   = '--output-type z --rm-dup none --write-index=tbi'
        ext.prefix = { "${meta.id}_split_rmdup" }
    }

    withName: 'ADD_VARCALLER_TO_BED' {
        ext.args2  = '-s 1 -b 2 -e 3'
    }

    withName: 'BCFTOOLS_ANNOTATE' {
        ext.args   = '-c CHROM,FROM,TO,FOUND_IN --output-type z --write-index=tbi'
        ext.prefix = { "${meta.id}_split_rmdup_info" }
    }

}
