/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

process{

    withName: '.*ALIGN:FASTP' {
        ext.args = { [
            params.min_trimmed_length ? "--length_required ${params.min_trimmed_length}" : '',
            '--correction',
            '--overrepresentation_analysis'
        ].join(' ').trim() }
    }

    withName: '.*ALIGN:CONVERTTOBAM_CRAM' {
        ext.args   = { '--output-fmt bam' }
        ext.prefix = { "${meta.id}_cram_to_bam" }
    }

    withName: '.*ALIGN:CONVERTTOCRAM_ALTFILTERED' {
        ext.args   = { '--output-fmt cram' }
        ext.prefix = { "${meta.id}_sorted_md_primary_contigs" }
    }

    withName: '.*ALIGN:CONVERTTOCRAM_UNFILTERED' {
        ext.args   = { '--output-fmt cram' }
        ext.prefix = { "${meta.id}_sorted_md" }
    }

    withName: '.*ALIGN:SAMTOOLS_VIEW_EXCLUDE_ALT' {
        ext.args   = { '--fetch-pairs' }
        ext.args2  = {
            params.genome == 'GRCh38'
                ? ((1..22).collect { n -> "chr${n}" } + ['chrX', 'chrY', 'chrM']).join(' ')
                : ((1..22).collect { n -> "${n}" }   + ['X',    'Y',   'MT'   ]).join(' ')
        }
        ext.prefix = { "${meta.id}_sorted_md_primary_contigs" }
    }
}
