/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// Liftover
//

process {
    withName: '.*ANALYSE_MT:.*' {
        ext.when = { !params.skip_mt_analysis && !(params.analysis_type == "wes") }
        publishDir = [
            enabled: false
        ]
    }
}

process {
    withName: '.*ANALYSE_MT:PICARD_LIFTOVERVCF' {
        ext.prefix = { "${meta.id}_liftover" }
    }
}
