/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// SNV annotation options
//

process {
    withName: '.*ANNOTATE_SNVS:.*' {
        ext.when = !params.skip_snv_annotation
    }

    withName: '.*ANNOTATE_SNVS:VCFANNO' {
        ext.prefix = { "${meta.id}_vcfanno" }
        publishDir = [
            enabled: false
        ]
    }

    withName: '.*ANNOTATE_SNVS:BCFTOOLS_ROH' {
        ext.args = { "--samples ${meta.id} --skip-indels " }
        ext.prefix = { "${meta.id}_roh" }
    }

    withName: '.*ANNOTATE_SNVS:RHOCALL_ANNOTATE' {
        ext.args = { "--v14 " }
        ext.prefix = { "${meta.id}_rohann" }
    }

    withName: '.*ANNOTATE_SNVS:VCFANNO' {
        ext.prefix = { "${meta.id}_rohann_vcfanno" }
    }

    withName: '.*ANNOTATE_SNVS:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_rohann_vcfanno_filter" }
        ext.args = { '--output-type z --exclude "INFO/GNOMADAF > 0.70 | INFO/GNOMADAF_popmax > 0.70" ' }
    }

    withName: '.*ANNOTATE_SNVS:GATK4_SELECTVARIANTS' {
        ext.prefix = { "${meta.id}_${intervals.simpleName}" }
        ext.when   = { !params.skip_snv_annotation && !(params.analysis_type == "wes")}
    }

    withName: '.*ANNOTATE_SNVS:ENSEMBLVEP_SNV' {
        ext.prefix = { "${vcf.simpleName}_rohann_vcfanno_filter_vep" }
        ext.args   = [
            '--dir_plugins vep_cache/Plugins',
            '--plugin LoFtool,vep_cache/LoFtool_scores.txt',
            '--plugin pLI,vep_cache/pLI_values_107.txt',
            '--plugin SpliceAI,snv=vep_cache/spliceai_21_scores_raw_snv_-v1.3-.vcf.gz,indel=vep_cache/spliceai_21_scores_raw_snv_-v1.3-.vcf.gz',
            '--plugin MaxEntScan,vep_cache/fordownload,SWA,NCSS',
            '--distance 5000',
            '--buffer_size 20000',
            '--format vcf --max_sv_size 248956422',
            '--appris --biotype --cache --canonical --ccds --compress_output bgzip',
            '--domains --exclude_predicted --force_overwrite',
            '--hgvs --humdiv --no_progress --no_stats --numbers',
            '--merged --polyphen p --protein --offline --regulatory --sift p --symbol --tsl',
            '--uniprot --vcf'
        ].join(' ')
        publishDir = [
            enabled: params.analysis_type.equals('wes'),
            path: { "${params.outdir}/annotate_snv" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*ANNOTATE_SNVS:TABIX_VEP' {
        publishDir = [
            enabled: params.analysis_type.equals('wes'),
            path: { "${params.outdir}/annotate_snv" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*ANNOTATE_SNVS:BCFTOOLS_CONCAT' {
        ext.prefix = { "${meta.id}_rohann_vcfanno_filter_vep" }
        ext.when   = { !(params.analysis_type == "wes") }
        publishDir = [
            enabled: !params.analysis_type.equals('wes'),
            path: { "${params.outdir}/annotate_snv" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*ANNOTATE_SNVS:TABIX_BCFTOOLS_CONCAT' {
        ext.when   = { !(params.analysis_type == "wes") }
        publishDir = [
            enabled: !params.analysis_type.equals('wes'),
            path: { "${params.outdir}/annotate_snv" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
