/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// Structural variant calling options - Manta
//

process {
    withName: '.*CALL_STRUCTURAL_VARIANTS:CALL_SV_MANTA:MANTA' {
        ext.args = {
            def args = (params.analysis_type == "wes") ? '--exome' : ''
            params.manta_call_regions ? [args, "--callRegions ${params.manta_call_regions}"].findAll { it }.join(' ') : args
        }
    }
    withName: ".*CALL_STRUCTURAL_VARIANTS:CALL_SV_MANTA:BCFTOOLS_VIEW_MANTA" {
        ext.prefix = { "${meta.id}_manta" }
        ext.args = {
            def args = '--apply-filters .,PASS'
            if (params.sv_size_threshold) args += " -e 'abs(INFO/SVLEN) > ${params.sv_size_threshold}'"
            args + ' -Oz --write-index=tbi'
        }
    }
}
