/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// gcnvcaller calling options
//

process {
    withName: ".*CALL_STRUCTURAL_VARIANTS:CALL_CNV_GERMLINECNVCALLER:GATK4_PREPROCESSINTERVALS*" {
        publishDir = [
            enabled: false
        ]
        ext.args = "--padding 0 --interval-merging-rule OVERLAPPING_ONLY"
    }

    withName: ".*CALL_STRUCTURAL_VARIANTS:CALL_CNV_GERMLINECNVCALLER:GATK4_ANNOTATEINTERVALS*" {
        publishDir = [
            enabled: false
        ]
        ext.args = "--interval-merging-rule OVERLAPPING_ONLY"
    }

    withName: ".*CALL_STRUCTURAL_VARIANTS:CALL_CNV_GERMLINECNVCALLER:GATK4_FILTERINTERVALS*" {
        publishDir = [
            enabled: false
        ]
        ext.args = "--interval-merging-rule OVERLAPPING_ONLY"
    }

    withName: ".*CALL_STRUCTURAL_VARIANTS:CALL_CNV_GERMLINECNVCALLER:GATK4_INTERVALLISTTOOLS*" {
        publishDir = [
            enabled: false
        ]
        ext.args = "--SUBDIVISION_MODE INTERVAL_COUNT --SCATTER_CONTENT 15000"
    }

    withName: ".*CALL_STRUCTURAL_VARIANTS:CALL_CNV_GERMLINECNVCALLER:GATK4_COLLECTREADCOUNTS*" {
        publishDir = [
            enabled: false
        ]
        ext.args = "--format TSV --interval-merging-rule OVERLAPPING_ONLY"
    }

    withName: ".*CALL_STRUCTURAL_VARIANTS:CALL_CNV_GERMLINECNVCALLER:GATK4_GERMLINECNVCALLER*" {
        publishDir = [
            enabled: false
        ]
        ext.args = "--run-mode CASE"
    }
}
