/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for GATK contamination checking modules
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    //
    // GATK GetPileupSummaries
    //
    withName: '.*:CONTAMINATION_CHECK:GATK4_GETPILEUPSUMMARIES' {
        ext.args = ''
        ext.prefix = { "${meta.id}_pileups" }
    }

    //
    // GATK CalculateContamination
    //
    withName: '.*:CONTAMINATION_CHECK:GATK4_CALCULATECONTAMINATION' {
        ext.args = ''
        ext.prefix = { "${meta.id}_contamination" }
    }

    //
    // Parse contamination results for MultiQC
    //
    withName: '.*:RAREDISEASE:PARSE_CONTAMINATION' {
        ext.prefix = { "${meta.id}_contamination" }
    }
}
