/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for GATK contamination checking modules
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    //
    // GATK GetPileupSummaries
    //
    withName: '.*:CONTAMINATION_CHECK:GATK4_GETPILEUPSUMMARIES' {
        ext.args = ''
        ext.prefix = { "${meta.id}_pileups" }
        publishDir = [
            path: { "${params.outdir}/qc/contamination/pileups" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // GATK CalculateContamination
    //
    withName: '.*:CONTAMINATION_CHECK:GATK4_CALCULATECONTAMINATION' {
        ext.args = ''
        ext.prefix = { "${meta.id}_contamination" }
        publishDir = [
            path: { "${params.outdir}/qc/contamination" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // Parse contamination results for MultiQC
    //
    withName: '.*:RAREDISEASE:PARSE_CONTAMINATION' {
        ext.prefix = { "${meta.id}_contamination" }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            pattern: '*_mqc.tsv'
        ]
    }
}
