/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for contamination checking modules
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    //
    // VerifyBamID2
    //
    withName: '.*:CONTAMINATION:VERIFYBAMID_VERIFYBAMID2' {
        ext.args = ''
        ext.prefix = { "${meta.id}" }
    }

    //
    // GATK GetPileupSummaries
    //
    withName: '.*:CONTAMINATION:GATK4_GETPILEUPSUMMARIES' {
        ext.args = ''
        ext.prefix = { "${meta.id}_pileups" }
    }

    //
    // GATK CalculateContamination
    //
    withName: '.*:CONTAMINATION:GATK4_CALCULATECONTAMINATION' {
        ext.args = ''
        ext.prefix = { "${meta.id}_contamination" }
    }

    //
    // Parse GATK contamination results for MultiQC
    //
    withName: '.*:CONTAMINATION:PARSE_CONTAMINATION' {
        ext.prefix = { "${meta.id}_contamination" }
    }
}
