/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// Spring decompress options
//

process {
    withName: '.*RAREDISEASE:SPRING_DECOMPRESS_.*' {
        ext.prefix = { "${spring.simpleName}" }
    }
}

//
// Read QC options
//

process {

    withName: '.*RAREDISEASE:FASTQC' {
        ext.args = '--quiet --dir ./'
    }
}

//
// Smncopynumbercaller options
//

process {
    withName: '.*SMNCOPYNUMBERCALLER' {
        ext.args = {
        (params.genome == 'GRCh37') ? '--genome 37' : '--genome 38'
        }
        ext.prefix = { "${meta.id}_smncopynumbercaller" }
    }
}

//
// Stranger options
//

process {
    withName: '.*STRANGER' {
        ext.prefix = { "${meta.id}_repeat_expansion_stranger" }
    }
}

//
// Multiqc options
//

process {
    withName: '.*RAREDISEASE:MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    }
}
