/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// Subsample MT
//

process {

    withName: '.*SUBSAMPLE_MT_READS:SAMTOOLS_VIEW' {
        ext.args = { "--output-fmt bam -F 0x400"  }
        ext.prefix = { "${meta.id}_mt_nodups" }
    }

    withName: '.*SUBSAMPLE_MT_READS:SAMTOOLS_COLLATE' {
        ext.args = { "--output-fmt sam"  }
        ext.prefix = { "${meta.id}_mt_nodups_collate" }
    }

    withName: '.*SUBSAMPLE_MT_READS:GAWK' {
        ext.args2 = { "'/^@/ { print; next } count < ${params.mt_subsample_reads} || last == \$1 { print; last = \$1; count++ }'"  }
        ext.prefix = { "${meta.id}_mt_nodups_collate_awk" }
        ext.suffix  = "sam"
    }

    withName: '.*SUBSAMPLE_MT_READS:SAM_TO_BAM' {
        ext.args   = { "--output-fmt bam" }
        ext.prefix = { "${meta.id}_mt_nodups_collate_awk" }
    }

    withName: '.*SUBSAMPLE_MT_READS:SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}_mt_subsample" }
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}