/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args            = Additional arguments appended to command in module.
        ext.args2           = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3           = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix          = File name prefix for output files.
        ext.when            = Conditional clause
----------------------------------------------------------------------------------------
*/

//
// Filter out clinical and research variants
//

// SNVs

process {
    withName: '.*VCF_FILTER_BCFTOOLS_ENSEMBLVEP_SNV:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_sv_${meta.set}" }
        ext.args   = { [
            '--output-type z',
            '--write-index=tbi',
        ].join(" ") }
    }

    withName: '.*:VCF_FILTER_BCFTOOLS_ENSEMBLVEP_SNV:ENSEMBLVEP_FILTERVEP' {
        ext.prefix = { "${meta.id}_snv_${meta.set}" }
        ext.args   = { "--filter \"HGNC_ID in ${feature_file}\"" }
    }

    withName: '.*:VCF_FILTER_BCFTOOLS_ENSEMBLVEP_SNV:TABIX_BGZIPTABIX' {
        ext.prefix = { "${meta.id}_snv_${meta.set}" }
        ext.args2 = = { "--tbi -p vcf" }
    }
}

// SVs

process {
    withName: '.*VCF_FILTER_BCFTOOLS_ENSEMBLVEP_SV:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_sv_${meta.set}" }
        ext.args   = { [
            '--output-type z',
            '--write-index=tbi',
        ].join(" ") }
    }

    withName: '.*:VCF_FILTER_BCFTOOLS_ENSEMBLVEP_SV:ENSEMBLVEP_FILTERVEP' {
        ext.prefix = { "${meta.id}_sv_${meta.set}" }
        ext.args   = { "--filter \"HGNC_ID in ${feature_file}\"" }
    }

    withName: '.*:VCF_FILTER_BCFTOOLS_ENSEMBLVEP_SV:TABIX_BGZIPTABIX' {
        ext.prefix = { "${meta.id}_sv_${meta.set}" }
        ext.args2 = = { "--tbi -p vcf" }
    }
}

// MT variants

process {
    withName: '.*:VCF_FILTER_BCFTOOLS_ENSEMBLVEP_MT:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_mt_${meta.set}" }
        ext.args   = { "-Oz -i 'AF>0.05'" }
    }

    withName: '.*:VCF_FILTER_BCFTOOLS_ENSEMBLVEP_MT:ENSEMBLVEP_FILTERVEP' {
        ext.prefix = { "${meta.id}_mt_filtervep_${meta.set}" }
        ext.args   = { "--filter \"HGNC_ID in ${feature_file}\"" }
    }

    withName: '.*:VCF_FILTER_BCFTOOLS_ENSEMBLVEP_MT:TABIX_BGZIPTABIX' {
        ext.prefix = { "${meta.id}_mt_${meta.set}" }
        ext.args2 = = { "--tbi -p vcf" }
    }
}

// ME variants
process {
    withName: '.*VCF_FILTER_BCFTOOLS_ENSEMBLVEP_ME:BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_me_${meta.set}" }
        ext.args   = { [
            '--output-type z',
            '--write-index=tbi',
        ].join(" ") }
    }

    withName: '.*:VCF_FILTER_BCFTOOLS_ENSEMBLVEP_ME:ENSEMBLVEP_FILTERVEP' {
        ext.prefix = { "${meta.id}_me_${meta.set}" }
        ext.args   = { "--filter \"HGNC_ID in ${feature_file}\"" }
    }

    withName: '.*:VCF_FILTER_BCFTOOLS_ENSEMBLVEP_ME:TABIX_BGZIPTABIX' {
        ext.prefix = { "${meta.id}_me_${meta.set}" }
        ext.args2 = = { "--tbi -p vcf" }
    }
}
