process {

    withName: '.*SCATTER_GENOME:GENOME_FAI_TO_BED' {
        ext.args2  = { '\'BEGIN {SEP="\t"}; {print \$1 SEP "0" SEP \$2}\''  }
        ext.suffix = "bed"
    }

    withName: '.*SCATTER_GENOME:GATK4_SPLITINTERVALS' {
        ext.args = { "--scatter-count ${params.scatter_count}" }
        ext.prefix = { "${meta.id}_intervals" }
    }
}
