process {

    withName: "CNVNATOR_HIST" {
        tag = { "$meta2.id" }
        ext.args = { "-his ${params.cnvnator_binsize}" }
    }

    withName: "CNVNATOR_STAT" {
        tag = { "$meta2.id" }
        ext.args = { "-stat ${params.cnvnator_binsize}" }
    }

    withName: "CNVNATOR_PARTITION" {
        tag = { "$meta2.id" }
        ext.args = { "-partition ${params.cnvnator_binsize}" }
    }

    withName: "CNVNATOR_CALL" {
        tag = { "$meta2.id" }
        ext.args = { "-call ${params.cnvnator_binsize}" }
    }

    withName: "CNVNATOR_CONVERT2VCF" {
        ext.prefix = { "${meta.id}_cnvnator" }
        ext.args = { "-call ${params.cnvnator_binsize}" }
    }

    withName: "BCFTOOLS_VIEW_CNVNATOR" {
        ext.prefix = { "${meta.id}_cnvnator_filter" }
        ext.args = { '--apply-filters .,PASS --output-type z' }
    }

    withName: 'SVDB_MERGE_CNVNATOR' {
        ext.args   = '--notag --pass_only'
        ext.prefix = { "${meta.id}_cnvnator" }
    }
}
