process {

    withName: 'BWA_INDEX' {
        memory = { [6.B * fasta.size(), 100.MB].max() }
    }

    withName: 'TIDDIT_SV' {
        ext.args = '-p 2'
    }

    withName: 'BCFTOOLS_VIEW_TIDDIT' {
        ext.args   = '--min-ac 1'
        ext.prefix = { "${meta.id}_tiddit_filtered" }
    }

    withName: 'INDEX_TIDDIT' {
        ext.prefix = { "${meta.id}_tiddit" }
    }

    withName: 'SVDB_MERGE_TIDDIT' {
        ext.args   = '--notag --pass_only'
        ext.prefix = { "${meta.id}_svdb_tiddit" }
    }
}
