process {

    withName: 'BCFTOOLS_VIEW_TIDDIT' {
        ext.args   = '--min-ac 1'
        ext.prefix = { "${meta.id}_tiddit_filtered" }
    }

    withName: 'INDEX_TIDDIT' {
        ext.prefix = { "${meta.id}_tiddit" }
    }

    withName: 'SVDB_MERGE_TIDDIT' {
        ext.prefix = { "${meta.id}_svdb_tiddit" }
    }
}
