case_workdir = "/home/ramprasad.neethiraj/tmp"

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
}

// Set environmental variables
env {
    TMPDIR="${case_workdir}"
    JAVA_TOOL_OPTIONS="-Djava.io.tmpdir=${case_workdir}"
    MPLCONFIGDIR="${case_workdir}"
    XDG_CACHE_HOME="${case_workdir}"
}

// Set singularity settings
singularity {
    enabled = true
    envWhitelist = ['JAVA_TOOL_OPTIONS']
    autoMounts = true
    runOptions = "--bind ${case_workdir}"
}

// Set manifest generation in outdir
plugins {
    id 'nf-prov@1.2.4'
}
prov {
    enabled = true
    formats {
        legacy {
            file = "${params.outdir}/manifest.json"
            overwrite = true
        }
    }
}
