/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/raredisease Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Required options
    input                      = null

    // References
    genome                     = 'GRCh38'
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false
    local_genomes              = null
    save_reference             = false
    mito_name                  = 'chrM'

    // Main options
    analysis_type              = 'wgs'
    bwa_as_fallback            = false
    bait_padding               = 100
    extract_alignments         = false
    restrict_to_contigs        = null
    run_mt_for_wes             = false
    run_rtgvcfeval             = false
    save_mapped_as_cram        = false
    scatter_count              = 20
    skip_fastp                 = false
    skip_gens                  = true
    skip_germlinecnvcaller     = false
    skip_haplogrep3            = false
    skip_peddy                 = false
    skip_me_calling            = false
    skip_me_annotation         = false
    skip_mt_annotation         = false
    skip_repeat_annotation     = false
    skip_repeat_calling        = false
    skip_smncopynumbercaller   = false
    skip_snv_annotation        = false
    skip_snv_calling           = false
    skip_sv_annotation         = false
    skip_sv_calling            = false
    skip_mt_subsample          = false
    skip_vcf2cytosure          = true
    skip_vep_filter            = false
    cadd_resources             = null
    platform                   = 'illumina'

    // reference file options
    fasta                           = null
    fai                             = null
    bwa                             = null
    bwamem2                         = null
    bwameme                         = null
    call_interval                   = null
    cadd_resources                  = null
    gcnvcaller_model                = null
    gens_interval_list              = null
    gens_pon_female                 = null
    gens_pon_male                   = null
    gens_gnomad_pos                 = null
    gnomad_af                       = null
    gnomad_af_idx                   = null
    intervals_wgs                   = null
    intervals_y                     = null
    known_dbsnp                     = null
    known_dbsnp_tbi                 = null
    mobile_element_references       = null
    mobile_element_svdb_annotations = null
    ml_model                        = null
    mt_fasta                        = null
    par_bed                         = null
    ploidy_model                    = null
    reduced_penetrance              = null
    readcount_intervals             = null
    rtg_truthvcfs                   = null
    sample_id_map                   = null
    sequence_dictionary             = null
    score_config_mt                 = null
    score_config_snv                = null
    score_config_sv                 = null
    sdf                             = null
    svdb_query_bedpedbs             = null
    svdb_query_dbs                  = null
    target_bed                      = null
    variant_catalog                 = null
    variant_consequences_snv        = null
    variant_consequences_sv         = null
    vep_filters                     = null
    vep_filters_scout_fmt           = null
    vcf2cytosure_blacklist          = null
    vcfanno_extra_resources         = null
    vcfanno_resources               = null
    vcfanno_toml                    = null
    vcfanno_lua                     = null
    vep_cache                       = null
    vep_plugin_files                = null

    // Bam_qc
    ngsbits_samplegender_method = 'xy'

    // Alignment
    aligner                    = 'bwamem2'
    mt_aligner                 = 'bwamem2'
    mbuffer_mem                = 3072
    samtools_sort_threads      = 4
    min_trimmed_length         = 40
    mt_subsample_rd            = 150
    mt_subsample_seed          = 30
    rmdup                      = false

    // Variant calling
    cnvnator_binsize           = 1000
    variant_caller             = 'deepvariant'

    // variant annotation
    vep_cache_version          = 112

    // sentieon Defaults
    ml_model                   = ''

    // Dnascope SNV calling
    sentieon_dnascope_pcr_indel_model = 'CONSERVATIVE'
    variant_type                      = 'snp,indel'

    // MultiQC options
    multiqc_config              = null
    multiqc_title               = null
    multiqc_logo                = null
    max_multiqc_email_size      = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
    test            { includeConfig 'conf/test.config'            }
    test_full       { includeConfig 'conf/test_full.config'       }
    test_one_sample { includeConfig 'conf/test_one_sample.config' }
    test_sentieon   { includeConfig 'conf/test_sentieon.config'   }
}

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/raredisease custom profiles from different institutions.
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/raredisease.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/raredisease'
    author          = """Clinical Genomics Stockholm""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Ramprasad Neethiraj',
            affiliation: 'School of Engineering sciences in Chemistry, Biotechnology and Health, KTH Royal Institute of Technology, Stockholm, Sweden; Science for Life Laboratory, Department of Microbiology, Tumour and Cell Biology, Karolinska Institutet, Stockholm, Sweden',
            email: 'rne@kth.se',
            github: 'https://github.com/ramprasadn',
            contribution: ['author', 'maintainer'],
            orcid: 'https://orcid.org/0000-0001-7313-3734'
        ],
        [
            name: 'Anders Jemt',
            affiliation: 'Genomics Medicine Center Karolinska, Karolinska University Hospital, Stockholm, Sweden; Science for Life Laboratory, Department of Microbiology, Tumour and Cell Biology, Karolinska Institutet, Stockholm, Sweden',
            email: 'anders.jemt@scilifelab.se',
            github: 'https://github.com/jemten',
            contribution: ['author', 'maintainer'],
            orcid: 'https://orcid.org/0000-0002-2219-0197'
        ],
        [
            name: 'Mei Wu',
            github: 'https://github.com/projectoriented',
            contribution: ['contributor']
        ],
        [
            name: 'Lucía Peña-Pérez',
            affiliation: 'Center for Inherited Metabolic Diseases, Karolinska University Hospital, Stockholm, Sweden; Department of Molecular Medicine and Surgery, Karolinska Institutet, Stockholm, Sweden',
            email: 'lucia.pena.perez@scilifelab.se',
            github: 'https://github.com/Lucpen',
            contribution: ['contributor'],
            orcid: 'https://orcid.org/0000-0002-5044-7754'
        ],
        [
            name: 'Peter Pruisscher',
            affiliation: 'Genomics Medicine Center Karolinska, Karolinska University Hospital, Stockholm, Sweden; Science for Life Laboratory, Department of Microbiology, Tumour and Cell Biology, Karolinska Institutet, Stockholm, Sweden',
            email: 'peter.pruisscher@scilifelab.se',
            github: 'https://github.com/peterpru',
            contribution: ['contributor'],
            orcid: 'https://orcid.org/0000-0002-6987-5839'
        ],
        [
            name: 'Anders Sune Pedersen',
            affiliation: 'Danish National Genome Center',
            email: 'aspe@clin.au.dk',
            github: 'https://github.com/asp8200',
            contribution: ['contributor'],
            orcid: 'https://orcid.org/0009-0008-1112-841X'
        ],
        [
            name: 'Gwenna Breton',
            affiliation: 'Clinical Genomics Gothenburg, Sahlgrenska University Hospital and University of Gothenburg',
            email: 'gwenna.breton@gu.se',
            github: 'https://github.com/Gwennid',
            contribution: ['contributor'],
            orcid: 'https://orcid.org/0000-0002-4100-9963'
        ],
        [
            name: 'Sima Rahimi',
            affiliation: 'Clinical Genomics Lund, Lund University',
            email: 'sima.rahimi@med.lu.se',
            github: 'https://github.com/sima-r',
            contribution: ['contributor']
        ],
        [
            name: 'Felix Lenner',
            affiliation: 'Department of Immunology, Genetics and Pathology, Uppsala University, Sweden; Science for Life Laboratory, Department of Microbiology, Tumour and Cell Biology, Karolinska Institutet, Stockholm, Sweden',
            email: 'felix.lenner@scilifelab.se',
            github: 'https://github.com/fellen31',
            contribution: ['contributor'],
            orcid: 'https://orcid.org/0000-0002-9594-0710'
        ],
        [
            name: 'Maxime U Garcia',
            affiliation: 'Seqera',
            email: 'maxime.garcia@seqera.io',
            github: 'https://github.com/maxulysse',
            contribution: ['contributor'],
            orcid: 'https://orcid.org/0000-0003-2827-9261'
        ],
        [
            name: 'Eva Caceres',
            affiliation: 'Clinical Genomics Stockholm',
            email: 'eva.caceres@scilifelab.se',
            github: 'https://github.com/fevac',
            contribution: ['contributor']
        ],
        [
            name: 'and the nf-core/raredisease team',
            affiliation: 'nf-core community',
            email: '',
            github: 'https://github.com/nf-core',
            contribution: ['contributor'],
            orcid: ''
        ]
    ]
    homePage        = 'https://github.com/nf-core/raredisease'
    description     = """call and score variants from WGS/WES of rare disease patients"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '2.3.0'
    doi             = '10.5281/zenodo.7995798'
}

// Load DSL2 module options from config files, where each file contains the options for modules used in the eponymous subworkflow.

includeConfig 'conf/modules/raredisease.config'
includeConfig 'conf/modules/align.config'
includeConfig 'conf/modules/annotate_consequence_pli.config'
includeConfig 'conf/modules/annotate_genome_snvs.config'
includeConfig 'conf/modules/annotate_mt_snvs.config'
includeConfig 'conf/modules/annotate_structural_variants.config'
includeConfig 'conf/modules/annotate_repeat_expansions.config'
includeConfig 'conf/modules/call_repeat_expansions.config'
includeConfig 'conf/modules/call_snv.config'
includeConfig 'conf/modules/call_structural_variants.config'
includeConfig 'conf/modules/convert_mt_bam_to_fastq.config'
includeConfig 'conf/modules/generate_cytosure_files.config'
includeConfig 'conf/modules/gens.config'
includeConfig 'conf/modules/prepare_references.config'
includeConfig 'conf/modules/qc_bam.config'
includeConfig 'conf/modules/rank_variants.config'
includeConfig 'conf/modules/scatter_genome.config'
includeConfig 'conf/modules/align_MT.config'
includeConfig 'conf/modules/align_bwa_bwamem2_bwameme.config'
includeConfig 'conf/modules/align_sentieon.config'
includeConfig 'conf/modules/annotate_cadd.config'
includeConfig 'conf/modules/call_snv_MT.config'
includeConfig 'conf/modules/call_snv_deepvariant.config'
includeConfig 'conf/modules/call_snv_sentieon.config'
includeConfig 'conf/modules/call_sv_MT.config'
includeConfig 'conf/modules/call_sv_cnvnator.config'
includeConfig 'conf/modules/call_sv_germlinecnvcaller.config'
includeConfig 'conf/modules/call_sv_manta.config'
includeConfig 'conf/modules/call_sv_tiddit.config'
includeConfig 'conf/modules/postprocess_MT_calls.config'
includeConfig 'conf/modules/call_mobile_elements.config'
includeConfig 'conf/modules/annotate_mobile_elements.config'
includeConfig 'conf/modules/generate_clinical_set.config'
includeConfig 'conf/modules/variant_evaluation.config'
includeConfig 'conf/modules/subsample_mt.config'
includeConfig 'conf/modules/annotate_rhocallviz.config'

// Nextflow plugins
plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run nf-core/raredisease -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText = """
-\033[2m----------------------------------------------------\033[0m-
                                        \033[0;32m,--.\033[0;30m/\033[0;32m,-.\033[0m
\033[0;34m        ___     __   __   __   ___     \033[0;32m/,-._.--~\'\033[0m
\033[0;34m  |\\ | |__  __ /  ` /  \\ |__) |__         \033[0;33m}  {\033[0m
\033[0;34m  | \\| |       \\__, \\__/ |  \\ |___     \033[0;32m\\`-._,-`-,\033[0m
                                        \033[0;32m`._,._,\'\033[0m
\033[0;35m  nf-core/raredisease ${manifest.version}\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText = """${manifest.doi ? "\n* The pipeline\n" : ""}${manifest.doi.tokenize(",").collect { "    https://doi.org/${it.trim().replace('https://doi.org/','')}"}.join("\n")}${manifest.doi ? "\n" : ""}
* The nf-core framework
    https://doi.org/10.1038/s41587-020-0439-x

* Software dependencies
    https://github.com/nf-core/raredisease/blob/master/CITATIONS.md
"""
    }
    summary {
        beforeText = validation.help.beforeText
        afterText = validation.help.afterText
    }
}
