process {
    withName: '.*CALL_SNV_DEEPVARIANT:DEEPVARIANT' {
        ext.args = { [
            "--vcf_stats_report=true",
            "--model_type=${params.analysis_type.toUpperCase()}",
            meta.sex == 1 ? params.genome == 'GRCh37' ? '--haploid_contigs="X,Y"' : '--haploid_contigs="chrX,chrY"' : ''
        ].join(' ') }
        ext.prefix = { "${meta.id}_deepvar" }
    }

    withName: '.*CALL_SNV:GATK4_SELECTVARIANTS' {
        ext.args = ''
    }

    withName: 'SPLIT_MULTIALLELICS_GL' {
        ext.args = '--output-type z --multiallelics -both'
    }

    withName: 'REMOVE_DUPLICATES_GL' {
        ext.args = '--write-index=tbi --output-type z --rm-dup none'
        ext.prefix = { "${meta.id}_split_rmdup" }
    }

    withName: 'BCFTOOLS_ANNOTATE' {
        ext.args = "-c CHROM,FROM,TO,FOUND_IN --output-type z --write-index=tbi "
        ext.prefix = { "${meta.id}_split_rmdup_info" }
    }

    withName: 'GLNEXUS' {
        ext.args = { custom_config ? "--config ${custom_config}" : '--config DeepVariant_unfiltered' }
        cpus = 1
    }
}
