process {

    withName: 'GATK4_PRINTREADS_MT' {
        ext.args = { [
            "-L ${params.mito_name}",
            "--read-filter MateOnSameContigOrNoMappedMateReadFilter",
            "--read-filter MateUnmappedAndUnmappedReadFilter",
            "--tmp-dir ."
        ].join(" ").trim() }
    }

    withName: 'GATK4_REVERTSAM_MT' {
        ext.args = '--TMP_DIR . --OUTPUT_BY_READGROUP false --VALIDATION_STRINGENCY LENIENT --ATTRIBUTE_TO_CLEAR FT --ATTRIBUTE_TO_CLEAR CO --SORT_ORDER queryname --RESTORE_ORIGINAL_QUALITIES false'
    }

    withName: 'GATK4_SAMTOFASTQ_MT' {
        ext.args = '--VALIDATION_STRINGENCY LENIENT --TMP_DIR .'
    }
}
