/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    pipelines_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/'
    sarscov_testdata_base_path     = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    modules_testdata_base_path     = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

env {
    // NOTE This is how pipeline users will use Sentieon in real world use
    SENTIEON_LICENSE = "$SENTIEON_LICSRVR_IP"
    // NOTE This should only happen in GitHub actions or nf-core MegaTests
    SENTIEON_AUTH_MECH = "$SENTIEON_AUTH_MECH"
    SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
    // NOTE This is how pipeline users will test out Sentieon with a license file
    // nextflow secrets set SENTIEON_LICENSE_BASE64 \$(cat <sentieon_license_file.lic> | base64 -w 0)
}
