process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    raredisease_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/'
    sarscov_testdata_base_path     = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}
