
process {

    withName: "GATK4_COLLECTREADCOUNTS" {
        ext.args = "--format TSV"
    }

    withName: "GATK4_DETERMINEGERMLINECONTIGPLOIDY" {
        ext.prefix = { "${meta.id}_ploidy" }
    }

    withName: "GATK4_GERMLINECNVCALLER" {
        ext.args = "--run-mode CASE"
    }

    withName: 'BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.id}_gatkcnv_segments_refiltered" }
    }

    withName: 'SVDB_MERGE_GCNVCALLER' {
        ext.prefix = { "${meta.id}_gcnvcaller" }
    }
}
