process {

    withName: 'MT_DELETION' {
        ext.args   = { params.mt_del }
        ext.prefix = { "${meta.id}_mitochondria_deletions" }
    }

    withName: 'SALTSHAKER_CALL' {
        ext.args = '--blacklist'
    }

    withName: 'SALTSHAKER_CLASSIFY' {
        ext.args = { [
            "--blacklist --vcf",
            "--dominant-fraction ${params.saltshaker_dominant_fraction}",
            "--radius ${params.saltshaker_group_radius}",
            "--high-het ${params.saltshaker_high_heteroplasmy}",
            "--multiple-threshold ${params.saltshaker_multiple_threshold}",
            "--noise ${params.saltshaker_noise_threshold}"
        ].join(' ') }
    }

    withName: 'SALTSHAKER_TO_HTML' {
        ext.prefix = { "${meta.id}.saltshaker_classify" }
    }

    withName: 'SALTSHAKER_PLOT' {
        ext.args = '--blacklist --genes'
    }

    withName: 'SVDB_MERGE' {
        ext.prefix = { "${meta.id}_saltshaker" }
    }

}
