process {

    withName: '.*CONTAMINATION_CHECK:GATK4_GETPILEUPSUMMARIES' {
        ext.args = '--disable-sequence-dictionary-validation'
        ext.prefix = { "${meta.id}_pileups" }
    }

    withName: '.*CONTAMINATION_CHECK:GATK4_CALCULATECONTAMINATION' {
        ext.args = ''
        ext.prefix = { "${meta.id}_contamination" }
    }
}
