process {

    withName: 'BCFTOOLS_VIEW_RHOCALL' {
        ext.prefix = { "${meta.sample}" }
        ext.args   = { params.bcftools_view_rhocall }
    }

    withName: 'BCFTOOLS_ROH' {
        ext.prefix = { "${meta.sample}" }
        ext.args   = { params.bcftools_roh }
    }

    withName: 'BCFTOOLS_VIEW_UNCOMPRESS' {
        ext.prefix = { "${meta.sample}" }
        ext.args   = { params.bcftools_view_uncompressed }
    }

    withName: 'RHOCALL_VIZ' {
        ext.prefix = { "${meta.sample}_rhocallviz" }
        ext.args   = { params.rhocall_viz }
    }

    withName: 'CHROMOGRAPH_AUTOZYG' {
        ext.prefix = { "${autozyg.simpleName}_autozyg_chromograph" }
        ext.args   = { params.chromograph_autozyg }
    }

    withName: 'UCSC_WIGTOBIGWIG' {
        ext.prefix = { "${meta.sample}_rhocallviz" }
        ext.args   = { params.ucsc_wigtobigwig }
    }
}
