// Minimal subset of rank_variants.config SNV set for running MIVMIR, GICAM annotation

process {
    withName: '.*:GENMOD_ANNOTATE' {
        ext.prefix = { "${meta.id}_snv_genmod_annotate_${meta.set}" }
        ext.args = { [
            '--annotate_regions',
            params.genome.equals('GRCh37') ? '--genome-build 37' : '--genome-build 38',
            '--temp_dir ./'
            ].join(' ') }
    }

    withName: '.*:GENMOD_MODELS' {
        ext.prefix = { "${meta.id}_snv_genmod_models_${meta.set}" }
        ext.args = "--whole_gene --temp_dir ./"
    }

    withName: '.*:GENMOD_SCORE' {
        ext.prefix = { "${meta.id}_snv_genmod_score_${meta.set}" }
        ext.args = "--rank_results"
    }

    withName: '.*:GENMOD_COMPOUND' {
        ext.prefix = { "${meta.id}_snv_genmod_compound_${meta.set}" }
        ext.args = "--temp_dir ./"
    }

    withName: '.*:BCFTOOLS_MERGE_GENMOD_GICAM' {
        ext.args   = { "--columns MivmirScore,MivmirExplanation,GicamScore" }
        ext.prefix = { "${meta.id}_snv_ranked_${meta.set}" }
    }

    withName: '.*:TABIX_BGZIPTABIX_GICAM' {
        ext.prefix = { "${meta.id}_snv_ranked_gicam_${meta.set}" }
    }
}
