// Minimal subset of rank_variants.config SNV set for running MIVMIR, GICAM annotation

// Feature flag to enable model scoring
params.rank_with_mivmir_gicam = true

process {
    withName: '.*:GENMOD_ANNOTATE' {
        ext.prefix = { "${meta.id}_snv_genmod_annotate_${meta.set}" }
        ext.args = { [
            '--annotate_regions',
            '--genome-build 37',
            '--temp_dir ./'
            ].join(' ') }
    }

    withName: '.*:GENMOD_MODELS' {
        ext.prefix = { "${meta.id}_snv_genmod_models_${meta.set}" }
        ext.args = "--temp_dir ./"
    }

    withName: '.*:GENMOD_SCORE' {
        ext.prefix = { "${meta.id}_snv_genmod_score_${meta.set}" }
        ext.args = "--rank_results"
    }

    withName: '.*:GENMOD_COMPOUND' {
        ext.prefix = { "${meta.id}_snv_genmod_compound_${meta.set}" }
        ext.args = "--temp_dir ./"
    }

    withName: '.*:TABIX_BGZIPTABIX' {
        ext.args2 = '-p vcf'
        // Avoid BCFTOOLS i/o nameclash by appending genmod_ when ranking with mivmir, gicam
        // VCF name is overridden to fit naming convention BCFTOOLS_APPEND_MIVMIR_GICAM
        ext.prefix = { "${meta.id}_snv_ranked_${params.rank_with_mivmir_gicam ? 'genmod_': ''}${meta.set}" }
    }

    withName: '.*:BCFTOOLS_APPEND_MIVMIR_GICAM' {
        ext.args = { [
            '--columns MivmirScore,MivmirExplanation,GicamScore',
            '--write-index=tbi',
            '--output-type z'
            ].join(' ') }
        ext.prefix = { "${meta.id}_snv_ranked_${meta.set}" }
    }

    withName: '.*:TABIX_BGZIPTABIX_GICAM' {
        ext.prefix = { "${meta.id}_snv_ranked_gicam_${meta.set}" }
    }
}
