process {
    withName: 'RANK_VARIANTS:GENMOD_ANNOTATE' {
        ext.args = { [
            '--annotate_regions',
            params.genome.equals('GRCh37') ? '--genome-build 37' : '--genome-build 38',
            '--temp_dir ./'
            ].join(' ') }
    }

    withName: 'RANK_VARIANTS:GENMOD_MODELS' {
        ext.args = "--whole_gene --temp_dir ./"
    }

    withName: 'RANK_VARIANTS:GENMOD_SCORE' {
        ext.args = "--rank_results"
    }

    withName: 'RANK_VARIANTS:GENMOD_COMPOUND' {
        ext.args = "--temp_dir ./"
    }

    withName: 'RANK_VARIANTS:BCFTOOLS_SORT' {
        ext.args   = "--output-type z --write-index=tbi"
    }
}
