process {

    withName: 'GATK4_MERGEVCFS_LIFT_UNLIFT_MT' {
        ext.prefix = { "${meta.id}_merged_liftunlift" }
    }

    withName: 'GATK4_VARIANTFILTRATION_MT' {
        ext.prefix = { "${meta.id}_filt" }
    }

    withName: 'SPLIT_MULTIALLELICS_MT' {
        ext.args = '--output-type z --multiallelics -both'
        ext.prefix = { "${meta.id}_split" }
    }

    withName: 'REMOVE_DUPLICATES_MT' {
        ext.args = '--output-type z --rm-dup none'
        ext.prefix = { "${meta.id}_split_rmdup" }
    }

    withName: 'SPLIT_MULTIALLELICS_POSTMERGE_MT' {
        ext.args = '--output-type z --multiallelics -both'
        ext.prefix = { "${meta.id}_split_rmdup_merged_split" }
    }

    withName: 'BCFTOOLS_MERGE_MT' {
        ext.args = '--output-type z --write-index=tbi --filter-logic x'
        ext.prefix = { "${meta.id}_split_rmdup_merged" }
    }

    withName: 'ADD_VARCALLER_TO_BED' {
        ext.args2 = '-s 1 -b 2 -e 3'
    }

    withName: 'BCFTOOLS_ANNOTATE' {
        ext.args = "-c CHROM,FROM,TO,FOUND_IN --output-type z --include FILTER='\"PASS\"'"
        ext.prefix = { "${meta.id}_mitochondria" }
    }
}
