process {

    withName: 'SPLIT_MULTIALLELICS_MT' {
        ext.args   = '--output-type z --multiallelics -both --write-index=tbi'
        ext.prefix = { "${meta.id}_split" }
    }

    withName: 'REMOVE_DUPLICATES_MT' {
        ext.args   = '--output-type z --rm-dup none --write-index=tbi'
        ext.prefix = { "${meta.id}_split_rmdup" }
    }

    withName: 'BCFTOOLS_MERGE_MT' {
        ext.args   = '--output-type z --write-index=tbi'
        ext.prefix = { "${meta.id}_split_rmdup_merged" }
    }

    withName: 'BCFTOOLS_ANNOTATE' {
        ext.args   = "-c CHROM,FROM,TO,FOUND_IN --output-type z --include FILTER='\"PASS\"' --write-index=tbi"
        ext.prefix = { "${meta.id}_mitochondria" }
    }

    withName: 'GATK4_MERGEVCFS_LIFT_UNLIFT_MT' {
        ext.prefix = { "${meta.id}_merged_liftunlift" }
    }

    withName: 'GATK4_VARIANTFILTRATION_MT' {
        ext.prefix = { "${meta.id}_filt" }
    }

}
