/*
========================================================================================
    Nextflow config file for local reference genomes
========================================================================================
    Defines reference genomes without using iGenomes.
    Can be used by any config that customises the base path using:
        $params.local_genomes / --local_genomes
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh37' {
            fasta               = "${params.local_genomes}/grch37_homo_sapiens_-d5-.fasta"
            fai                 = "${params.local_genomes}/grch37_homo_sapiens_-d5-.fasta.fai"
            bwamem2             = "${params.local_genomes}/grch37_homo_sapiens_-d5-.fasta.{0123,amb,ann,bwt.2bit.64,pac}"
            gnomad              = "${params.local_genomes}/grch37_gnomad_reformated_-r2.1.1-.vcf.gz"
            svdb_query_dbs      = "${params.local_genomes}/grch37_sv_svdb_query_db_files.csv"
            target_bed          = "${params.local_genomes}/Twist_ComprehensiveExome_targets_hg19.bed"
            variant_catalog     = "${params.local_genomes}/variant_catalog_grch37.json"
            vcfanno_resources   = "${params.local_genomes}/vcfanno_resources_grch37"
            vcfanno_toml        = "${params.local_genomes}/vcfanno_resources_grch37/vcfanno_toml-grch37.toml"
        }
        'GRCh38' {
            fasta               = "${params.local_genomes}/grch38_homo_sapiens_-assembly-.fasta"
            fai                 = "${params.local_genomes}/grch38_homo_sapiens_-assembly-.fasta.fai"
            bwamem2             = "${params.local_genomes}/grch38_homo_sapiens_-assembly-.fasta.{0123,amb,ann,bwt.2bit.64,pac}"
            gnomad              = "${params.local_genomes}/grch38_gnomad_reformated_-r3.1.1-_split_rmdup.vcf.gz"
            svdb_query_dbs      = "${params.local_genomes}/grch38_sv_svdb_query_db_files.csv"
            target_bed          = "${params.local_genomes}/Twist_ComprehensiveExome_targets_hg38.bed"
            variant_catalog     = "${params.local_genomes}/variant_catalog_grch38.json"
            vcfanno_resources   = "${params.local_genomes}/vcfanno_resources_grch38"
            vcfanno_toml        = "${params.local_genomes}/vcfanno_resources_grch38/vcfanno_toml-grch38.toml"
        }
    }
}
