/*
========================================================================================
    Nextflow config file for local reference genomes
========================================================================================
    Defines reference genomes without using iGenomes.
    Can be used by any config that customises the base path using:
        $params.local_genomes / --local_genomes
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh37' {
            fasta           = "${params.local_genomes}/grch37_homo_sapiens_-d5-.fasta"
            fai             = "${params.local_genomes}/grch37_homo_sapiens_-d5-.fasta.fai"
            bwamem2         = "${params.local_genomes}/grch37_homo_sapiens_-d5-.fasta.{0123,amb,ann,bwt.2bit.64,pac}"
            gnomad          = "${params.local_genomes}/grch37_gnomad_reformated_-r2.1.1-.vcf.gz"
            variant_catalog = "${params.local_genomes}/variant_catalog_grch37.json"
            target_bed      = ""
        }
        'GRCh38' {
            fasta           = "${params.local_genomes}/grch38_homo_sapiens_-assembly-.fasta"
            fai             = "${params.local_genomes}/grch38_homo_sapiens_-assembly-.fasta.fai"
            bwamem2         = "${params.local_genomes}/grch38_homo_sapiens_-assembly-.fasta.{0123,amb,ann,bwt.2bit.64,pac}"
            gnomad          = "${params.local_genomes}/grch38_gnomad_reformated_-r3.1.1-_split_rmdup.vcf.gz"
            variant_catalog = "${params.local_genomes}/variant_catalog_grch38.json"
            target_bed      = "${params.local_genomes}/twistexomerefseq_9.1_hg19_design.bed.gz"
        }
    }
}
