/*
========================================================================================
    Nextflow config file for local reference genomes
========================================================================================
    Defines reference genomes without using iGenomes.
    Can be used by any config that customises the base path using:
        $params.local_genomes / --local_genomes
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh37' {
            fasta               = "${params.local_genomes}/grch37_homo_sapiens_-d5-.fasta"
            fai                 = "${params.local_genomes}/grch37_homo_sapiens_-d5-.fasta.fai"
            bwa                 = ""
            bwamem2             = "${params.local_genomes}/grch37_homo_sapiens_-d5-.fasta.{0123,amb,ann,bwt.2bit.64,pac}"
            call_interval       = ""
            gnomad              = "${params.local_genomes}/grch37_gnomad_reformated_-r2.1.1-.vcf.gz"
            gnomad_af           = ""
            gnomad_af_tbi       = ""
            intervals_mt        = ""
            known_dbsnp         = ""
            known_dbsnp_tbi     = ""
            ml_model            = "${params.local_genomes}/SentieonDNAscopeModel1.0.model"
            reduced_penetrance  = "${params.local_genomes}/grch37_cust003-cmms-red-pen_-2017-.tsv"
            score_config_snv    = "${params.local_genomes}/rank_model_-v1.34-.ini"
            score_config_sv     = "${params.local_genomes}/svrank_model_-v1.8-.ini"
            svdb_query_dbs      = "${params.local_genomes}/grch37_sv_svdb_query_db_files.csv"
            target_bed          = "${params.local_genomes}/Twist_ComprehensiveExome_targets_hg19.bed"
            variant_catalog     = "${params.local_genomes}/variant_catalog_grch37.json"
            vcfanno_resources   = "${params.local_genomes}/vcfanno_resources_grch37/"
            vcfanno_toml        = "${params.local_genomes}/vcfanno_toml-grch37.toml"
            vep_cache           = "${params.local_genomes}/vep_cache"
        }
        'GRCh38' {
            fasta               = "${params.local_genomes}/grch38_homo_sapiens_-assembly-.fasta"
            fai                 = "${params.local_genomes}/grch38_homo_sapiens_-assembly-.fasta.fai"
            bwa                 = "${params.local_genomes}/bwa/grch38_homo_sapiens_-assembly-.fasta.{amb,ann,bwt,pac,sa}"
            bwamem2             = "${params.local_genomes}/grch38_homo_sapiens_-assembly-.fasta.{0123,amb,ann,bwt.2bit.64,pac}"
            call_interval       = ""
            gnomad              = "${params.local_genomes}/grch38_gnomad_reformated_-r3.1.1-_split_rmdup.vcf.gz"
            gnomad_af           = "${params.local_genomes}/grch38_gnomad_reformated_-r3.1.1-_split_rmdup.tab.gz"
            gnomad_af_tbi       = "${params.local_genomes}/grch38_gnomad_reformated_-r3.1.1-_split_rmdup.tab.gz.tbi"
            intervals_mt        = "${params.local_genomes}/non_control_region.chrM.interval_list"
            known_dbsnp         = "${params.local_genomes}/grch38_dbsnp_-146-.vcf.gz"
            known_dbsnp_tbi     = ""
            ml_model            = "${params.local_genomes}/SentieonDNAscopeModel1.0.model"
            reduced_penetrance  = ""
            score_config_snv    = "${params.local_genomes}/rank_model_-v1.34-.ini"
            score_config_sv     = "${params.local_genomes}/grch38_sv_rank_model_-v0.1-.ini"
            svdb_query_dbs      = "${params.local_genomes}/grch38_sv_svdb_query_db_files.csv"
            target_bed          = "${params.local_genomes}/Twist_ComprehensiveExome_targets_hg38.bed"
            variant_catalog     = "${params.local_genomes}/variant_catalog_grch38.json"
            vcfanno_resources   = "${params.local_genomes}/vcfanno_resources_grch38/"
            vcfanno_toml        = "${params.local_genomes}/vcfanno_toml-grch38.toml"
            vep_cache           = "${params.local_genomes}/vep_cache"
        }
    }
}
