/*
========================================================================================
    Config file for defining DSL2 per module options
========================================================================================
    Available keys to override module options:
        args            = Additional arguments appended to command in module.
        args2           = Second set of arguments appended to command in module (multi-tool modules).
        args3           = Third set of arguments appended to command in module (multi-tool modules).
        publish_dir     = Directory to publish results.
        publish_by_meta = Groovy list of keys available in meta map to append as directories to "publish_dir" path
                            If publish_by_meta = true                 - Value of ${meta['id']} is appended as a directory to "publish_dir" path
                            If publish_by_meta = ['id', 'custompath'] - If "id" is in meta map and "custompath" isn't then "${meta['id']}/custompath/"
                                                                        is appended as a directory to "publish_dir" path
                            If publish_by_meta = false / null         - No directories are appended to "publish_dir" path
        publish_files   = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
                            The value of "directory" is appended to the standard "publish_dir" path as defined above.
                            If publish_files = null (unspecified)     - All files are published.
                            If publish_files = false                  - No files are published.
        suffix          = File name suffix for output files.
----------------------------------------------------------------------------------------
*/

params {
    modules {
        'bcftools_norm_split_multiallelics' {
            args            = '--output-type z --multiallelics -both'
        }
        'bcftools_norm_rm_duplicates' {
            args            = '--output-type z --rm-dup none'
        }
        'bwa_mem2_index' {
            publish_dir     = 'references'
        }
        'bwa_mem2_mem' {
            args            = '-M -K 100000000'
            publish_files   = false
        }
        'deepvariant' {
            args            = "--model_type=${params.analysis_type}"
            suffix          = '_deepvar'
        }
        'fastqc' {
            args            = '--quiet'
        }
        'glnexus' {
            args            = '--config DeepVariant_unfiltered'
            publish_files   = 'false'
        }
        'multiqc' {
            args            = ''
        }
        'picard_collectmultiplemetrics' {
            args            = ''
            publish_dir     = 'collectmultiplemetrics'
        }
        'picard_markduplicates' {
            args            = '--CREATE_INDEX'
            suffix          = '_sorted'
            publish_dir     = 'markduplicates'
        }
        'samtools_faidx' {
            publish_dir     = 'references'
        }
        'samtools_index' {
            publish_files   = false
        }
        'samtools_merge' {
            publish_files   = false
        }
        'samtools_sort' {
            suffix          = '_sorted'
            publish_files   = false
        }
        'samtools_stats' {
            args            = '-s --remove-overlaps'
        }
        'tabix' {
            args            = ''
        }
        'qualimap_bamqc' {
            args            = ''
        }
    }
}
