/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS ECR Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config to set public AWS ECR images wherever possible
    This improves speed when running on AWS infrastructure.
    Use this as an example template when using your own private registry.
----------------------------------------------------------------------------------------
*/

docker.registry = 'public.ecr.aws'
podman.registry = 'public.ecr.aws'

process {
    withName: 'ADD_MOST_SEVERE_CSQ' {
        container = 'quay.io/biocontainers/python:3.8.3'
    }
    withName: 'ADD_MOST_SEVERE_PLI' {
        container = 'quay.io/biocontainers/python:3.8.3'
    }
    withName: 'BWA_INDEX' {
        container = 'quay.io/biocontainers/bwa:0.7.17--hed695b0_7'
    }
    withName: 'FASTQC' {
        container = 'quay.io/biocontainers/fastqc:0.11.9--0'
    }
    withName: 'GET_CHROM_SIZES' {
        container = 'quay.io/biocontainers/gnu-wget:1.18--0'
    }
    withName: 'QUALIMAP_BAMQC' {
        container = 'quay.io/biocontainers/qualimap:2.2.2d--1'
    }
    withName: 'SAMPLESHEET_CHECK' {
        container = 'quay.io/biocontainers/python:3.8.3'
    }
    withName: 'UNTAR' {
        container = 'quay.io/docker.io/ubuntu:20.04'
    }
}
