/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests from pre-aligned files (BAM/CRAM)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Reuses the minimal 9-region GIAB trio dataset, pre-aligned: the two
    parents as BAM, the proband (ACC13778A1) as CRAM. VEP runs in --gtf
    mode (no Ensembl cache) since this is a custom/non-standard reference.

    Use as follows:
        nextflow run nf-core/raredisease -profile test_align,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

env {
    MPLCONFIGDIR="."
}

params {
    config_profile_name             = 'Test profile - align (BAM/CRAM)'
    config_profile_description      = 'Minimal 9-region GIAB trio test dataset, pre-aligned BAM/CRAM input, VEP in --gtf mode'

    igenomes_ignore                 = true
    mito_name                       = 'chrM'
    pipelines_testdata_base_path    = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease'

    // smncopynumbercaller is skipped -- it hardcodes SMN1/SMN2 coordinates on
    // chr5, which is not one of this dataset's 9 selected loci.
    skip_tools                       = 'gens,peddy,germlinecnvcaller,ngsbits,smncopynumbercaller'

    input                            = params.pipelines_testdata_base_path + '/manifests/samplesheet_align.csv'
    fasta                            = params.pipelines_testdata_base_path + '/reference_sliced/minimal_reference.fasta'
    fai                              = params.pipelines_testdata_base_path + '/reference_sliced/minimal_reference.fasta.fai'
    sequence_dictionary              = params.pipelines_testdata_base_path + '/reference_sliced/minimal_reference.dict'
    genome                           = 'GRCh38'

    vep_gtf                          = params.pipelines_testdata_base_path + '/resources_remapped/vep_gtf/minimal_reference.sorted.gtf.gz'
    vep_gtf_tbi                      = params.pipelines_testdata_base_path + '/resources_remapped/vep_gtf/minimal_reference.sorted.gtf.gz.tbi'
    vep_plugin_files                 = params.pipelines_testdata_base_path + '/resources_remapped/vep_gtf/vep_plugin_files.csv'
    vep_filters                      = params.pipelines_testdata_base_path + '/reference/hgnc.txt'

    variant_catalog                  = params.pipelines_testdata_base_path + '/resources_remapped/variant_catalog/grch38_expansionhunter_variant_catalog_remapped.json'

    svdb_query_dbs                   = params.pipelines_testdata_base_path + '/resources_remapped/svdb/svdb_query_dbs_remapped.csv'
    svdb_query_bedpedbs              = params.pipelines_testdata_base_path + '/resources_remapped/svdb/svdb_query_bedpedbs_remapped.csv'

    mobile_element_references        = params.pipelines_testdata_base_path + '/resources_remapped/mobile_elements/mobile_element_references_remapped.tsv'
    mobile_element_svdb_annotations  = params.pipelines_testdata_base_path + '/resources_remapped/mobile_elements/mobile_element_svdb_annotations_remapped.csv'

    intervals_wgs                    = params.pipelines_testdata_base_path + '/resources_remapped/beds/intervals_wgs.interval_list'
    intervals_y                      = params.pipelines_testdata_base_path + '/resources_remapped/beds/intervals_y.interval_list'

    target_bed                       = params.pipelines_testdata_base_path + '/resources_remapped/beds/target_bed.remapped.bed'
    sambamba_regions                 = params.pipelines_testdata_base_path + '/resources_remapped/beds/sambamba_regions.remapped.bed'
    manta_call_regions               = params.pipelines_testdata_base_path + '/resources_remapped/beds/manta_call_regions.remapped.bed.gz'
    manta_call_regions_tbi           = params.pipelines_testdata_base_path + '/resources_remapped/beds/manta_call_regions.remapped.bed.gz.tbi'

    vcfanno_toml                     = params.pipelines_testdata_base_path + '/resources_remapped/vcfanno/grch38_vcfanno_config_remapped.toml'
    vcfanno_resources                = params.pipelines_testdata_base_path + '/resources_remapped/vcfanno/vcfanno_resources_manifest.txt'
    gnomad_af                        = params.pipelines_testdata_base_path + '/resources_remapped/vcfanno/grch38_gnomad_af.remapped.tab.gz'

    score_config_snv                 = params.pipelines_testdata_base_path + '/resources_remapped/rank_models/grch38_rank_model_-v0.4-.minimal_trimmed.ini'
    score_config_mt                  = params.pipelines_testdata_base_path + '/resources_remapped/rank_models/grch38_rank_model_-v0.4-.minimal_trimmed.ini'
    score_config_sv                  = params.pipelines_testdata_base_path + '/reference/rank_model_sv.ini'
    reduced_penetrance               = params.pipelines_testdata_base_path + '/reference/reduced_penetrance.tsv'
    variant_consequences_snv         = params.pipelines_testdata_base_path + '/reference/variant_consequences_v2.txt'
    variant_consequences_sv          = params.pipelines_testdata_base_path + '/reference/variant_consequences_v2.txt'
}
