/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/raredisease -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: 'ENSEMBLVEP.*' {
        container = { workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
        'https://depot.galaxyproject.org/singularity/ensembl-vep:110.0--pl5321h2a3209d_0' :
        'biocontainers/ensembl-vep:110.0--pl5321h2a3209d_0' }
    }
}

env {
    MPLCONFIGDIR="."
}

params {
    config_profile_name             = 'Test profile - default'
    config_profile_description      = 'Minimal test dataset to check pipeline function'

    pipelines_testdata_base_path    = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease'
    input                           = params.pipelines_testdata_base_path + '/testdata/samplesheet_fq_spring.csv'
    fasta                           = params.pipelines_testdata_base_path + '/reference/reference.fasta'
    fai                             = params.pipelines_testdata_base_path + '/reference/reference.fasta.fai'
    genome                          = 'GRCh37'

}
