/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/raredisease -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '2.h'

    // Input data
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/testdata/samplesheet_MT.csv'

    // Genome references
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/Homo_sapiens_assembly38_chr20_chrM.fasta'

    // Variant catalog file
    variant_catalog = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/repeat_expansions.json'

    // Variant annotation
    vcfanno_resources = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/vcfanno_grch38_small_test.tar.gz'
    vcfanno_toml = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/grch38_vcfanno_config_-v0.2-_chr20.toml'

    target_bed = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/target_chr20.bed'

    intervals_mt = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/non_control_region.chrM.interval_list'
}
