/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/raredisease -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input           = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/testdata/samplesheet_full.csv'
    intervals_wgs   = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/test_full/genome.interval_list'
    intervals_y     = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/test_full/genomeY.interval_list'
    target_bed      = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/test_full/target.bed'
    variant_catalog = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/test_full/variant_catalog_hg38.json'

    // Genome references
    genome = 'GRCh38'

    // Skip annotation
    skip_mt_annotation  = true
    skip_snv_annotation = true
    skip_sv_annotation  = true
}

process {
    withName: 'MARKDUPLICATES' {
        memory          = { check_max( 90.GB * task.attempt, 'memory' ) }
    }
    withName: 'DEEPVARIANT' {
        cpus            = 24
        memory          = { check_max( 90.GB * task.attempt, 'memory' ) }
    }
}
