/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/raredisease -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus       = 2
    max_memory     = '6.GB'
    max_time       = '2.h'

    // reference params
    igenomes_ignore = true
    mito_name       = 'MT'

    // analysis params
    skip_eklipse           = System.getenv("GITHUB_ACTIONS").equals(null) ? false : true // skip tool on Github CI
    skip_fastqc            = System.getenv("GITHUB_ACTIONS").equals(null) ? false : true // skip tool on Github CI
    skip_germlinecnvcaller = System.getenv("GITHUB_ACTIONS").equals(null) ? false : true // skip tool on Github CI
    skip_haplocheck        = System.getenv("GITHUB_ACTIONS").equals(null) ? false : true // skip tool on Github CI
    skip_qualimap          = System.getenv("GITHUB_ACTIONS").equals(null) ? false : true // skip tool on Github CI
    skip_mt_annotation     = System.getenv("GITHUB_ACTIONS").equals(null) ? false : true // skip annotation on Github CI

    // Input data
    input          = 'https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/testdata/samplesheet_trio.csv'

    // Genome references
    fasta                = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/reference.fasta"
    fai                  = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/reference.fasta.fai"
    genome               = 'GRCh37'
    gnomad_af            = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/gnomad_reformated.tab.gz"
    intervals_wgs        = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/target_wgs.interval_list"
    intervals_y          = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/targetY.interval_list"
    known_dbsnp          = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/dbsnp_-138-.vcf.gz"
    ml_model             = "https://s3.amazonaws.com/sentieon-release/other/SentieonDNAscopeModel1.0.model"
    mobile_element_references = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/mobile_element_references.tsv"
    mobile_element_svdb_annotations = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/svdb_querydb_files.csv"
    reduced_penetrance   = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/reduced_penetrance.tsv"
    score_config_mt      = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/rank_model_snv.ini"
    score_config_snv     = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/rank_model_snv.ini"
    score_config_sv      = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/rank_model_sv.ini"
    svdb_query_dbs       = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/svdb_querydb_files.csv"
    target_bed           = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/target.bed"
    variant_catalog      = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/variant_catalog.json"
    vcfanno_lua          = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/vcfanno_functions.lua"
    vcfanno_resources    = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/vcfanno_resources.txt"
    vcfanno_toml         = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/vcfanno_config.toml"
    vep_cache            = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/vep_cache_and_plugins.tar.gz"
    vep_filters          = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/hgnc.txt"
    vep_cache_version    = 107
    vep_plugin_files     = "https://raw.githubusercontent.com/nf-core/test-datasets/raredisease/reference/vep_files.csv"
}
