/*
========================================================================================
    nf-core/raredisease Nextflow whole-exome sequencing (WES) config file
========================================================================================
    This config file is invoked when `--analysis_type` = 'wes'.
    The purpose is to reduce the amount of resources used compared to WGS data.
----------------------------------------------------------------------------------------
*/

process {
    withLabel:process_medium {
        cpus   = { check_max( 3     * task.attempt, 'cpus'    ) }
        memory = { check_max( 30.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 60.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
    }
}
