process {

    withName: 'VCFANNO_MT' {
        ext.prefix = { "${meta.prefix}" }
    }

    withName: 'ZIP_TABIX_VCFANNO_MT' {
        ext.prefix = { "${meta.prefix}" }
    }

    withName: 'ENSEMBLVEP_MT' {
        ext.args = { [
            '--dir_plugins vep_cache/Plugins',
            '--plugin LoFtool,LoFtool_scores.txt',
            '--plugin pLI,pLI_values.txt',
            '--plugin SpliceAI,snv=spliceai_21_scores_raw_snv_-v1.3-.vcf.gz,indel=spliceai_21_scores_raw_snv_-v1.3-.vcf.gz',
            '--distance 0',
            '--buffer_size 20000',
            '--format vcf --max_sv_size 248956422',
            '--appris --biotype --cache --canonical --ccds --compress_output bgzip',
            '--domains --exclude_predicted --force_overwrite',
            '--hgvs --humdiv --no_progress --numbers',
            '--merged --polyphen p --protein --offline --regulatory --sift p --symbol --tsl --vcf',
            '--uniprot'
        ].join(' ') }
        ext.prefix = { "${meta.prefix}" }
    }

    withName: 'BCFTOOLS_PLUGINSETGT' {
        ext.prefix = { "${meta.prefix}_mt_modifiedgt" }
        ext.args   = "--output-type z --write-index=tbi"
        ext.args2  = { "-i 'FMT/AF>=${params.homoplasmy_af_threshold} && FMT/DP>=100'" }
    }
}
