process {

    withName: 'TIDDIT_COV_VCF2CYTOSURE' {
        ext.prefix = { "${meta.id}_cov" }
    }

    withName: 'SPLIT_AND_FILTER_SV_VCF' {
        ext.prefix = { "${meta.id}" }
    }

    withName: 'BCFTOOLS_REHEADER_SV_VCF' {
        beforeScript = { "echo ${meta.custid} > ${meta.custid}.txt" }
        ext.prefix   = { "${meta.custid}" }
    }

    withName: 'VCF2CYTOSURE' {
        ext.prefix = { "${meta.custid}" ? "${meta.custid}" : "${meta.id}" }
    }

}
