process {

    withName: 'SENTIEON_BWAMEM' {
        ext.args = { "-M -K 10000000 -R ${meta.read_group} " }
        ext.prefix = { "${meta.id}_sorted.bam" }
    }

    withName: 'SENTIEON_DATAMETRICS' {
        ext.prefix = { "${meta.id}_datametrics" }
    }

    withName: 'SENTIEON_READWRITER' {
        ext.prefix = { "${meta.id}_merged.bam" }
    }

    withName: 'EXTRACT_ALIGNMENTS' {
        ext.prefix = { "${meta.id}_merged_extracted" }
    }

    withName: 'SENTIEON_DEDUP' {
        ext.args4 = { params.rmdup ? "--rmdup" : '' }
        ext.prefix = { "${meta.id}_dedup.bam" }
    }
}
