env {
    // NOTE This is how nf-core/raredisease users will use Sentieon in real world use with an IP
    // SENTIEON_LICENSE = "$SENTIEON_LICSRVR_IP"

    // NOTE This is how nf-core/raredisease users will test out Sentieon in raredisease with a license file
    // nextflow secrets set SENTIEON_LICENSE_BASE64 \$(cat <sentieon_license_file.lic> | base64 -w 0)

    // NOTE This should only happen in GitHub actions or nf-core MegaTests
    SENTIEON_AUTH_MECH = "$SENTIEON_AUTH_MECH"
    SENTIEON_AUTH_DATA = secrets.SENTIEON_AUTH_DATA
}

process {

    withName: 'SENTIEON_BWAMEM' {
        ext.args = { "-M -K 10000000 -R ${meta.read_group} " }
        ext.prefix = { "${meta.id}_sorted.bam" }
    }

    withName: 'SENTIEON_DATAMETRICS' {
        ext.prefix = { "${meta.id}_datametrics" }
    }

    withName: 'SENTIEON_READWRITER' {
        ext.prefix = { "${meta.id}_merged.bam" }
    }

    withName: 'EXTRACT_ALIGNMENTS' {
        ext.prefix = { "${meta.id}_merged_extracted" }
        ext.args2 = { params.restrict_to_contigs }
    }

    withName: 'SENTIEON_DEDUP' {
        ext.args4 = { params.rmdup ? "--rmdup" : '' }
        ext.prefix = { "${meta.id}_dedup.bam" }
    }
}
