process {

    withName: 'BWAMEME_INDEX' {
        ext.args = '-a meme'
    }

    withName: 'FASTP' {
        ext.args = { [
            params.min_trimmed_length ? "--length_required ${params.min_trimmed_length}" : '',
            '--correction',
            '--overrepresentation_analysis'
        ].join(' ').trim() }
    }

    withName: 'SAMTOOLS_VIEW' {
        ext.args   = { '--output-fmt cram --write-index' }
        ext.prefix = { "${meta.id}_sorted_md" }
    }

    withName: 'BWAMEM2_MEM' {
        ext.args = { "-M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'BWAMEM_FALLBACK' {
        ext.args = { "-M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'BWAMEME_MEM' {
        ext.args = { "-7 -M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
        ext.when = { params.aligner.equals("bwameme") }
    }

    withName: 'BWA' {
        ext.args = { "-M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'SAMTOOLS_STATS' {
        ext.args = '-s --remove-overlaps'
    }

    withName: 'SAMTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_sorted_merged" }
    }

    withName: 'EXTRACT_ALIGNMENTS' {
        ext.prefix = { "${meta.id}_sorted_merged_extracted" }
        ext.args2 = { params.restrict_to_contigs }
    }

    withName: 'MARKDUPLICATES' {
        ext.args = "--TMP_DIR ."
        ext.prefix = { "${meta.id}_sorted_md" }
    }

    withName: 'GATK4_PRINTREADS_MT' {
        ext.args = { [
            "-L ${params.mito_name}",
            "--read-filter MateOnSameContigOrNoMappedMateReadFilter",
            "--read-filter MateUnmappedAndUnmappedReadFilter",
            "--tmp-dir ."
        ].join(" ").trim() }
    }

    withName: 'GATK4_REVERTSAM_MT' {
        ext.args = '--TMP_DIR . --OUTPUT_BY_READGROUP false --VALIDATION_STRINGENCY LENIENT --ATTRIBUTE_TO_CLEAR FT --ATTRIBUTE_TO_CLEAR CO --SORT_ORDER queryname --RESTORE_ORIGINAL_QUALITIES false'
    }

    withName: 'GATK4_SAMTOFASTQ_MT' {
        ext.args = '--VALIDATION_STRINGENCY LENIENT --TMP_DIR .'
    }

    withName: 'BWAMEM2_MEM_MT' {
        ext.args = { "-M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'BWA_MEM_MT' {
        ext.args = { "-M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'SENTIEON_BWAMEM_MT' {
        ext.args = { "-M -K 10000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'GATK4_MERGEBAMALIGNMENT_MT' {
        ext.args = '--TMP_DIR . --CREATE_INDEX true --MAX_GAPS -1  --SORT_ORDER queryname --INCLUDE_SECONDARY_ALIGNMENTS false --PAIRED_RUN false --VALIDATION_STRINGENCY LENIENT'
        ext.prefix = { "${meta.id}_sorted_merged" }
    }

    withName: 'PICARD_ADDORREPLACEREADGROUPS_MT' {
        ext.args = { [
            "--VALIDATION_STRINGENCY LENIENT",
            "--RGLB lib",
            "--RGPL ${params.platform}",
            "--RGPU barcode",
            "--RGSM ${meta.id}",
            "--TMP_DIR ./temp_folder"
        ].join(' ').trim() }
    }

    withName: 'PICARD_MARKDUPLICATES_MT' {
        ext.args = '--TMP_DIR . --VALIDATION_STRINGENCY LENIENT --CREATE_INDEX true'
        ext.prefix = { "${meta.id}_sorted_merged_md" }
    }

    withName: 'SAMTOOLS_SORT_MT' {
        ext.prefix = { "${meta.id}_sorted_merged_md_sorted" }
    }

}
