process {

    withName: 'BCFTOOLS_VIEW' {
        ext.args   = { "--output-type z --types indels,other" }
        ext.prefix = { "${vcf.simpleName}_indels" }
    }

    withName: 'CADD' {
        container = "nf-core/ubuntu:22.04" //Using an basic container because v1.7.3 is too big for CI.
        ext.args   = { "-g ${params.genome}" }
        ext.prefix = { "${vcf.simpleName}_cadd" }
    }

    withName: 'TABIX_CADD' {
        ext.args = { "--force --sequence 1 --begin 2 --end 2" }
    }

    withName: 'BCFTOOLS_ANNOTATE' {
        ext.args   = { "--columns Chrom,Pos,Ref,Alt,-,CADD --output-type z --write-index=tbi" }
        ext.prefix = { "${input.simpleName}_ann" }
    }

    withName: 'CADD_TO_REFERENCE_CHRNAMES' {
        ext.args2 = '\'{original=$1; sub("chr","",$1); print $1, original}\''
        ext.prefix = "cadd_to_reference"
        ext.suffix = "txt"
    }

    withName: 'REFERENCE_TO_CADD_CHRNAMES' {
        ext.args2 = '\'{original=$1; sub("chr","",$1); print original, $1}\''
        ext.prefix = "reference_to_cadd"
        ext.suffix = "txt"
    }
}
