process {

    withName: 'BWAMEME_INDEX' {
        ext.args = '-a meme'
    }

    withName: 'BWAMEME_MEM' {
        ext.args = { "-7 -M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'BWAMEM2_MEM' {
        ext.args = { "-M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'SAMTOOLS_STATS' {
        ext.args = '-s --remove-overlaps'
    }

    withName: 'SAMTOOLS_MERGE' {
        ext.prefix = { "${meta.id}_sorted_merged" }
    }

    withName: 'EXTRACT_ALIGNMENTS' {
        ext.prefix = { "${meta.id}_sorted_merged_extracted" }
        ext.args2 = { params.restrict_to_contigs }
    }

    withName: 'MARKDUPLICATES' {
        ext.args = "--TMP_DIR ."
        ext.prefix = { "${meta.id}_sorted_md" }
    }

}
