// Base directory for test data
// TODO: Commit these files to nf-core/test-datasets if we want to keep testing with them
def test_data_dir1 = "https://raw.githubusercontent.com/lmtani/wf-human-mito/main"

def test_data_dir2 = "https://gist.github.com/lmtani/f5f164e34c9e7aba44474d93c7108eb3/raw/e529b386f39a8efc2c6512d0bb8975c2a0c1ce59"

params {
    test_data {
        'mini_human_genome' {
            'alignment' {
                bam = "${test_data_dir2}/NA12878_aligned.bam"
                bai = "${test_data_dir2}/NA12878_aligned.bam.bai"
            }
            fasta = "${test_data_dir1}/tests/data/Homo_sapiens_assembly38_chrM_and_alt.fasta"
            fai   = "${test_data_dir1}/tests/data/Homo_sapiens_assembly38_chrM_and_alt.fasta.fai"
            dict  = "${test_data_dir1}/tests/data/Homo_sapiens_assembly38_chrM_and_alt.dict"
        }
        'mitochondria' {
            intervals_mt = "${test_data_dir1}/data/non_control_region.chrM.interval_list"
        }
    }
}
