process {

    withName: 'VERIFYBAMID_VERIFYBAMID2' {
        ext.prefix = { "${meta.id}" }
    }

    withName: 'GATK4_GETPILEUPSUMMARIES' {
        ext.prefix = { "${meta.id}_pileups" }
    }

    withName: 'GATK4_CALCULATECONTAMINATION' {
        ext.prefix = { "${meta.id}_contamination" }
    }

    withName: 'PARSE_CONTAMINATION' {
        ext.prefix = { "${meta.id}_contamination" }
    }
}
