process {

    withName: 'BCFTOOLS_ROH' {
        ext.args = { "--samples ${meta.probands.unique().first()} --skip-indels " }
        ext.prefix = { "${meta.id}_roh" }
    }

    withName: 'RHOCALL_ANNOTATE' {
        ext.args = { "--v14 " }
    }

    withName: 'ZIP_TABIX_ROHCALL' {
        ext.prefix = { "${input.simpleName}" }
    }

    withName: 'GATK4_SELECTVARIANTS' {
        ext.prefix = { "${vcf.simpleName}_${intervals.simpleName}" }
    }

    withName: 'VCFANNO' {
        ext.prefix = { "${meta.prefix}_vcfanno_${meta.scatterid}" }
    }

    withName: 'UPD_SITES' {
        ext.prefix = { "${meta.upd_child}_upd_sites" }
        ext.args = {"--af-tag GNOMADAF --proband ${meta.upd_child} --mother ${meta.mother} --father ${meta.father} sites"}
    }

    withName: 'UPD_REGIONS' {
        ext.prefix = { "${meta.upd_child}_upd_regions" }
        ext.args = {"--af-tag GNOMADAF --proband ${meta.upd_child} --mother ${meta.mother} --father ${meta.father} regions --min-size 5 --min-sites 1"}
    }

    withName: 'CHROMOGRAPH_SITES' {
        ext.prefix = { "${meta7.upd_child}_chromograph_sites" }
        ext.args = { "--euploid" }
    }

    withName: 'CHROMOGRAPH_REGIONS' {
        ext.prefix = { "${meta6.upd_child}_chromograph_regions" }
        ext.args = { '--euploid' }
    }

    withName: 'ZIP_TABIX_VCFANNO' {
        ext.prefix = { "${input.simpleName}" }
    }

    withName: 'BCFTOOLS_VIEW' {
        ext.prefix = { "${meta.prefix}_filter_${meta.scatterid}" }
    }

    withName: 'ENSEMBLVEP_SNV' {
        ext.prefix = { "${meta.prefix}_vep_${meta.scatterid}" }
        ext.args = { [
            '--dir_plugins vep_cache/Plugins',
            '--plugin LoFtool,LoFtool_scores.txt',
            '--plugin pLI,pLI_values.txt',
            '--plugin SpliceAI,snv=spliceai_21_scores_raw_snv_-v1.3-.vcf.gz,indel=spliceai_21_scores_raw_snv_-v1.3-.vcf.gz',
            '--distance 5000',
            '--buffer_size 20000',
            '--format vcf --max_sv_size 248956422',
            '--appris --biotype --cache --canonical --ccds --compress_output bgzip',
            '--domains --exclude_predicted --force_overwrite',
            '--hgvs --humdiv --no_progress --numbers',
            '--merged --polyphen p --protein --offline --regulatory --sift p --symbol --tsl',
            '--uniprot --vcf'
        ].join(' ') }
    }

    withName: 'BCFTOOLS_CONCAT' {
        ext.args   = { "-Oz" }
    }
}
