process {

    withName: 'BWAMEM2_MEM_MT' {
        ext.args = { "-M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'BWA_MEM_MT' {
        ext.args = { "-M -K 100000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'SENTIEON_BWAMEM_MT' {
        ext.args = { "-M -K 10000000 -R ${meta.read_group}" }
        ext.args2 = { "-T ./samtools_sort_tmp" }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: 'GATK4_MERGEBAMALIGNMENT_MT' {
        ext.args = '--TMP_DIR . --CREATE_INDEX true --MAX_GAPS -1  --SORT_ORDER queryname --INCLUDE_SECONDARY_ALIGNMENTS false --PAIRED_RUN false --VALIDATION_STRINGENCY LENIENT'
        ext.prefix = { "${meta.id}_sorted_merged" }
    }

    withName: 'PICARD_ADDORREPLACEREADGROUPS_MT' {
        ext.args = { [
            "--VALIDATION_STRINGENCY LENIENT",
            "--RGLB lib",
            "--RGPL ${params.platform}",
            "--RGPU barcode",
            "--RGSM ${meta.id}",
            "--TMP_DIR ./temp_folder"
        ].join(' ').trim() }
    }

    withName: 'PICARD_MARKDUPLICATES_MT' {
        ext.args = '--TMP_DIR . --VALIDATION_STRINGENCY LENIENT --CREATE_INDEX true'
        ext.prefix = { "${meta.id}_sorted_merged_md" }
    }

    withName: 'SAMTOOLS_SORT_MT' {
        ext.prefix = { "${meta.id}_sorted_merged_md_sorted" }
    }

}
