process {

    withName: 'BCFTOOLS_SORT_ME' {
        ext.args   = '--output-type z --temp-dir ./ --write-index=tbi'
        ext.prefix = { "${meta.id}_${meta.interval}_retroseq_sort" }
    }

    withName: 'SVDB_MERGE_ME' {
        ext.args   = '--bnd_distance 150 --overlap 0.5'
        ext.args2  = '--write-index=tbi'
        ext.prefix = { "${meta.id}_mobile_elements" }
    }

}
