process {

    withName: 'ME_SPLIT_ALIGNMENT' {
        ext.args   = { [
            '--output-fmt bam',
            '--fetch-pairs'
            ].join(' ') }
        ext.args2  = { "${meta.interval}" }
        ext.prefix = { "${meta.id}_${meta.interval}" }
    }

    withName: 'RETROSEQ_DISCOVER' {
        ext.prefix = { "${meta.id}_${meta.interval}_retroseq_discover" }
    }

    withName: 'RETROSEQ_CALL' {
        ext.args = { "--soft --region ${meta.interval}" }
        ext.prefix = { "${meta.id}_${meta.interval}_retroseq_call" }
    }

    withName: 'BCFTOOLS_REHEADER_ME' {
        ext.args   = "--temp-prefix ."
        ext.args2  = { '--output-type v' }
        ext.prefix = { "${meta.id}_${meta.interval}_retroseq_reheader" }
    }

    withName: 'BCFTOOLS_SORT_ME' {
        ext.args   = { '--output-type z --temp-dir ./' }
        ext.prefix = { "${meta.id}_${meta.interval}_retroseq_sort" }
    }

    withName: 'BCFTOOLS_CONCAT_ME' {
        ext.args   = { '--output-type z --allow-overlaps' }
        ext.prefix = { "${meta.id}_mobile_elements_concat" }
    }

    withName: 'SVDB_MERGE_ME' {
        ext.args   = { '--bnd_distance 150 --overlap 0.5' }
        ext.prefix = { "${meta.id}_mobile_elements" }
    }
}
