process {

    withName: '.*SUBSAMPLE_MT_FRAC:BEDTOOLS_GENOMECOV' {
        ext.args   = { "-dz" }
        ext.prefix = { "${meta.id}" }
    }

    withName: '.*SUBSAMPLE_MT_FRAC:SAMTOOLS_VIEW' {
        ext.args   = { "--output-fmt BAM -h -F 4 -s ${meta.seedfrac}" }
        ext.prefix = { "${meta.id}_mt_subsample" }
    }
}
